<div class="-dash">
	<div class="addTip">Add Tip</div>
	<div class="latestTips">
		<h3 class="_header">Latest Tips</h3>
		<div class="tip">
			<div class="_datetime">01/01/2015<br/>12:45 PM</div>
			<div class="_tipAmt">$0.45</div>
			<div class="_transactionAmt">$45.00</div>
			<div class="_note">Propane Tank</div>
		</div>
		<div class="tip">
			<div class="_datetime">01/01/2015<br/>12:45 PM</div>
			<div class="_tipAmt">$0.45</div>
			<div class="_transactionAmt">$45.00</div>
			<div class="_note">Propane Tank</div>
		</div>
		<div class="tip">
			<div class="_datetime">01/01/2015<br/>12:45 PM</div>
			<div class="_tipAmt">$0.45</div>
			<div class="_transactionAmt">$45.00</div>
			<div class="_note">Propane Tank</div>
		</div>
	</div>
</div>
